{% macro cHeroSplitLeft(headline, subheadline, primaryBtnUrl,primaryBtnText,secondaryBtnUrl,secondaryBtnText,heroImage,alt) %}
{% include 'partials/c-hero__split--left.njk' %}
{% endmacro %}

{% macro cHeroSplitRight(headline, subheadline, primaryBtnUrl,primaryBtnText,secondaryBtnUrl,secondaryBtnText,heroImage,alt) %}
{% include 'partials/c-hero__split--right.njk' %}
{% endmacro %}
