<!doctype html>
<html lang="{{locale | replace("_", "-")}}" dir="{{direction}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle }}</title>
    <meta name="Description" content="{{metaDescription}}">
    <!-- open graph -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ metaTitle }}">
    <meta property="og:image" content="{{ metaImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ metaDescription }}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:title" content="{{ metaTitle }}">
    <meta name="twitter:description" content="{{ metaDescription }}">
    <meta name="twitter:image" content="{{ metaImage }}">
    {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
  {% block content %}
   {{ content | safe }}
   {% endblock %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
